* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
body {
  background-size: cover;
  overflow: hidden;
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: black;
}

#time {
  font-size: 8rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

@media (max-width: 700px) {
  #time {
    font-size: 6rem;
    width: 100%;
  }
}
